.main{
    background-image: url(../../../public/img/bar.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px;
 
height: 40vh;
gap: 8px;
}

@media (min-width:768px) {
    .main{
        gap: 20px;
    }
}


@media (min-width:1024px) {
    .main{
     padding: 20px;
     gap: 10px;
    }
}
